In [125]:
import pandas
from sklearn.preprocessing import OrdinalEncoder

In [126]:
dataSet = pandas.read_csv("Loan_default.csv")
print(dataSet.isnull().sum())

LoanID            0
Age               0
Income            0
LoanAmount        0
CreditScore       0
MonthsEmployed    0
NumCreditLines    0
InterestRate      0
LoanTerm          0
DTIRatio          0
Education         0
EmploymentType    0
MaritalStatus     0
HasMortgage       0
HasDependents     0
LoanPurpose       0
HasCoSigner       0
Default           0
dtype: int64

In [127]:
print(dataSet["Default"].value_counts())
print('\n',dataSet["Default"].value_counts(normalize=True) * 100)

Default
0    225694
1     29653
Name: count, dtype: int64

 Default
0    88.387175
1    11.612825
Name: proportion, dtype: float64

In [128]:
print(dataSet["Education"].unique())
print(dataSet["EmploymentType"].unique())
print(dataSet["MaritalStatus"].unique())

["Bachelor's" "Master's" 'High School' 'PhD']
['Full-time' 'Unemployed' 'Self-employed' 'Part-time']
['Divorced' 'Married' 'Single']

In [129]:
edu = ["High School", "Bachelor's","Master's", "PhD"]
eduEncoder = OrdinalEncoder(categories= [edu])
dataSet["Education"] = eduEncoder.fit_transform(dataSet[["Education"]])

emp = ['Unemployed', 'Self-employed', 'Part-time','Full-time']
empEncoder = OrdinalEncoder(categories= [emp])
dataSet["EmploymentType"] = empEncoder.fit_transform(dataSet[["EmploymentType"]])

mar = ['Single', 'Married', 'Divorced']
marEncoder = OrdinalEncoder(categories= [mar])
dataSet["MaritalStatus"] = marEncoder.fit_transform(dataSet[["MaritalStatus"]])

dataSet.head(100)

,LoanID,Age,Income,LoanAmount,CreditScore,MonthsEmployed,NumCreditLines,InterestRate,LoanTerm,DTIRatio,Education,EmploymentType,MaritalStatus,HasMortgage,HasDependents,LoanPurpose,HasCoSigner,Default
0,I38PQUQS96,56,85994,50587,520,80,4,15.23,36,0.44,1.0,3.0,2.0,Yes,Yes,Other,Yes,0
1,HPSK72WA7R,69,50432,124440,458,15,1,4.81,60,0.68,2.0,3.0,1.0,No,No,Other,Yes,0
2,C1OZ6DPJ8Y,46,84208,129188,451,26,3,21.17,24,0.31,2.0,0.0,2.0,Yes,Yes,Auto,No,1
3,V2KKSFM3UN,32,31713,44799,743,0,3,7.07,24,0.23,0.0,3.0,1.0,No,No,Business,No,0
4,EY08JDHTZP,60,20437,9139,633,8,4,6.51,48,0.73,1.0,0.0,2.0,No,Yes,Auto,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,4JQAOGI6A8,42,30200,182868,517,119,3,16.87,24,0.51,1.0,2.0,0.0,Yes,Yes,Auto,Yes,0
96,D51F6APQ5Y,62,25274,134289,701,91,1,13.01,24,0.57,2.0,0.0,1.0,No,No,Business,Yes,0
97,O367DPWKN4,58,55299,37681,361,54,1,24.10,36,0.30,1.0,2.0,0.0,No,Yes,Auto,Yes,0
98,9VNZFS3GD3,46,100459,174884,578,52,3,22.29,24,0.69,1.0,3.0,1.0,Yes,No,Auto,No,0
99,R7HVEB6PCN,32,74554,89606,656,117,2,15.78,12,0.16,1.0,1.0,2.0,Yes,Yes,Business,No,0